# Mini-Data Set Preparation

After the Kaggle Script "Making a mini-data set" is run (FYI, it takes about 2 minutes to run) to reduce the size of the data to 40,000 instances, run this script to organize data into a single dataframe. 

Run this with the 8 csv files produced by the Kaggle Script in the same directory.

Note: This is a Python3 script because that is what Kaggle uses.

In [203]:
import pandas as pd
import numpy as np
import copy
import sklearn
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [33]:
clicks_train_og = pd.read_csv("../input/clicks_train.csv")
promoted_content_og = pd.read_csv("../input/promoted_content.csv")
doc_cats_og = pd.read_csv("../input/documents_categories.csv")
doc_ents_og = pd.read_csv("../input/documents_entities.csv")
doc_meta_og = pd.read_csv("../input/documents_meta.csv")
doc_topics_og = pd.read_csv("../input/documents_topics.csv")
events_og = pd.read_csv("../input/events.csv")
page_views_og = pd.read_csv("../input/page_views_sample.csv")

/Users/nicolelee/miniconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [72]:
# FOR TESTING WITH MINI DATASET

doc_ids = set(page_views_og['document_id']) & set(promoted_content_og['document_id'])
# pull in the content that is in both page_views and promoted_content

events = events_og[events_og['document_id'].isin(doc_ids)]
clicks_train = clicks_train_og[clicks_train_og['display_id'].isin(events['display_id'])]

events = events[events['display_id'].isin(clicks_train['display_id'])]

promoted_content = promoted_content_og[promoted_content_og['ad_id'].isin(clicks_train['ad_id'])]
doc_cats = doc_cats_og[doc_cats_og['document_id'].isin(promoted_content['document_id'])]
doc_ents = doc_ents_og[doc_ents_og['document_id'].isin(promoted_content['document_id'])]
doc_meta = doc_meta_og[doc_meta_og['document_id'].isin(promoted_content['document_id'])]
doc_topics = doc_topics_og[doc_topics_og['document_id'].isin(promoted_content['document_id'])]
page_views = page_views_og[page_views_og['document_id'].isin(events['document_id'])]

In [52]:
# FOR FULL DATASET ON AWS

display_sample = np.random.choice(clicks_train_og["display_id"].unique(), 10000) # change this if too many rows
clicks_train = clicks_train_og[clicks_train_og["display_id"].isin(display_sample)]
# select 4000 random display id's and grab all rows in click_train with that display
# every display has multiple ads and only 1 ad in every display is clicked
promoted_content = promoted_content_og[promoted_content_og["ad_id"].isin(clicks_train["ad_id"])]
# same ad can show up in multiple displays, so length of unique ads < length of unique displays
doc_cats = doc_cats_og[doc_cats_og["document_id"].isin(promoted_content["document_id"])]
doc_ents = doc_ents_og[doc_ents_og["document_id"].isin(promoted_content["document_id"])]
doc_meta = doc_meta_og[doc_meta_og["document_id"].isin(promoted_content["document_id"])]
doc_topics = doc_topics_og[doc_topics_og["document_id"].isin(promoted_content["document_id"])]
events = events_og[events_og["display_id"].isin(clicks_train_og["display_id"])]
page_views = page_views_og[page_views_og["document_id"].isin(promoted_content["document_id"])]
# platform & traffic source need to be either all integers or all strings (right now its mixed)

## Make master data merging all features to clicks_train

### Merge information about the displays to master dataset
Events are only if the user CLICKED. This dataset will bring in information about the display_id's from events

In [237]:
data = clicks_train.merge(events, on='display_id', how='left')
data.head()

# joins information about the display that the user saw
# each display has a unique user id, doc id, and timestamp
# events has the information about the display (who the user is, which site (document_id) it was on, when it was seen, from where, etc.)

,display_id,ad_id,clicked,uuid,document_id,timestamp,platform,geo_location
0,37,70153,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819
1,37,149047,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819
2,37,169564,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819
3,37,234713,1,d4f62cdcb39ad8,1779285,2687,2,US>WA>819
4,37,235443,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819

Now we are merging information on what documents the ads referred to (from source: promoted_content).  
In every display, there are multiple ads (within one document = document_id_x). Every ad refers to a different document, which is the site the ad is promoting (document_id_y). All the columns after document_id_y are information about that document (to which the ad is referring).

In [238]:
data = data.merge(promoted_content, on='ad_id', how='left')
data.head()

,display_id,ad_id,clicked,uuid,document_id_x,timestamp,platform,geo_location,document_id_y,campaign_id,advertiser_id
0,37,70153,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,933716,7516,1438
1,37,149047,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1169985,16636,380
2,37,169564,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1394819,20109,640
3,37,234713,1,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1586431,245,232
4,37,235443,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1377696,11654,555

### Merge information about the documents the ads refer to
All the doc files have information about the documents (websites) to which the ads refer to
including confidence levels of which topics the ads referred to, which categories they're apart of, etc.

We wanted to duplicate the idea of the CountVectorizer for the 'bag of words' model we used for spam detection, but since we're not counting words in a text, it's a little bit different. Since we have a 'dictionary' of categories and topics, we use that as our 'vocabulary.' Every document has a confidence level for one or more items in the vocabulary, so we create a sparse matrix with every topic and category as columns, and every document has a confidence level value in the respective columns. If they are not given a confidence level, we put 0 because the document most likely does not have anything to do with that category or topic (given the data provided by Outbrain).

This data on the documents will help us separate ads from one another based on topic/category.  
ie) why did ad A get clicked instead of ad B? We know ad A referred to document 1 whereas ad B referred to document 2, and now we have general information about the documents the ads referred to. We will merge this information in later steps.

In [244]:
sparsetop = doc_topics.pivot(index='document_id', columns='topic_id', values='confidence_level')
sparsetop.columns = ['top_' + str(col) for col in sparsetop.columns]

sparsecat = doc_cats.pivot(index='document_id', columns='category_id', values='confidence_level')
sparsecat.columns = ['cat_' + str(col) for col in sparsecat.columns]

sparse = sparsetop.join(sparsecat, how='outer')
sparse.fillna(0, inplace=True)

sparse.reset_index(level=0, inplace=True)
sparse.head()

,document_id,top_0,top_1,top_2,top_3,top_4,top_5,top_6,top_7,top_8,...,cat_1913,cat_1914,cat_1915,cat_2000,cat_2002,cat_2003,cat_2004,cat_2005,cat_2006,cat_2100
0,5720,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5944,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [252]:
print(len(sparse['document_id'].unique()), len(data['document_id_y'].unique()))
data = data.merge(sparse, left_on='document_id_y', right_on='document_id', how='left')
data.head()

15545 15562

,display_id,ad_id,clicked,uuid,document_id_x,timestamp,platform,geo_location,document_id_y,campaign_id,...,cat_1913,cat_1914,cat_1915,cat_2000,cat_2002,cat_2003,cat_2004,cat_2005,cat_2006,cat_2100
0,37,70153,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,933716,7516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,37,149047,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1169985,16636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,37,169564,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1394819,20109,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,37,234713,1,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1586431,245,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,37,235443,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1377696,11654,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

creating dictionaries for % of ads clicked for every advertiser and campaign.  
purpose: merge to master dataset as a feature for every ad, how often the advertiser and campaign are successful on average.

In [298]:
advr_success = dict(zip(data.advertiser_id.unique(), [sum(data[data['advertiser_id']==x]['clicked'])/len(data[data['advertiser_id']==x]) for x in data['advertiser_id'].unique()]))
camp_success = dict(zip(data.campaign_id.unique(), [sum(data[data['campaign_id']==x]['clicked'])/len(data[data['campaign_id']==x]) for x in data['campaign_id'].unique()]))

data['campaign_perc'] = data['campaign_id'].map(camp_success)
data['advertiser_perc'] = data['advertiser_id'].map(advr_success)

data.head()

,display_id,ad_id,clicked,uuid,document_id_x,timestamp,platform,geo_location,document_id_y,campaign_id,...,cat_1915,cat_2000,cat_2002,cat_2003,cat_2004,cat_2005,cat_2006,cat_2100,campaign_perc,advertiser_perc
0,37,70153,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,933716,7516,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.045455,0.046069
1,37,149047,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1169985,16636,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.137931,0.137931
2,37,169564,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1394819,20109,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
3,37,234713,1,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1586431,245,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.265217,0.271255
4,37,235443,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1377696,11654,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.043478,0.082631

Add count of page views to every document that an ad appears in (document_id_x) as a feature, could tell us something about likelihood of ads being clicked

In [300]:
doc_view_freq = dict(zip(page_views.document_id.unique(), [len(page_views[page_views.document_id==x]) for x in page_views.document_id.unique()]))
data['docx_view_freq'] = data['document_id_x'].map(doc_view_freq)
data.head()

,display_id,ad_id,clicked,uuid,document_id_x,timestamp,platform,geo_location,document_id_y,campaign_id,...,cat_2000,cat_2002,cat_2003,cat_2004,cat_2005,cat_2006,cat_2100,campaign_perc,advertiser_perc,docx_view_freq
0,37,70153,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,933716,7516,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.045455,0.046069,7701
1,37,149047,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1169985,16636,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.137931,0.137931,7701
2,37,169564,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1394819,20109,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.000000,7701
3,37,234713,1,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1586431,245,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.265217,0.271255,7701
4,37,235443,0,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1377696,11654,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.043478,0.082631,7701
5,101,10731,0,3abf1630ff91c5,1029942,7396,1,CA>BC,632740,2005,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.295775,0.221545,2216
6,101,17917,0,3abf1630ff91c5,1029942,7396,1,CA>BC,558939,1716,...,0.0,0.0,0.0,0.92,0.0,0.0,0.0,0.175676,0.175676,2216
7,101,18493,0,3abf1630ff91c5,1029942,7396,1,CA>BC,699867,3042,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.230263,0.215686,2216
8,101,51402,1,3abf1630ff91c5,1029942,7396,1,CA>BC,973567,6345,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.200876,0.206905,2216
9,101,117307,0,3abf1630ff91c5,1029942,7396,1,CA>BC,1164016,15054,...,0.0,0.0,0.0,0.92,0.0,0.0,0.0,0.101010,0.088468,2216
10,101,146172,0,3abf1630ff91c5,1029942,7396,1,CA>BC,1343511,1212,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.218382,0.182879,2216
11,101,152964,0,3abf1630ff91c5,1029942,7396,1,CA>BC,1375936,19429,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.136364,0.105477,2216
12,101,197199,0,3abf1630ff91c5,1029942,7396,1,CA>BC,1464827,23062,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.098592,0.090909,2216
13,101,228566,0,3abf1630ff91c5,1029942,7396,1,CA>BC,1572613,25151,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.013349,2216
14,335,12422,0,46f17380f19cee,1779285,24079,2,US>NY>501,687110,2271,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.111111,0.052303,7701
15,335,15525,0,46f17380f19cee,1779285,24079,2,US>NY>501,714690,245,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.265217,0.271255,7701
16,335,31985,0,46f17380f19cee,1779285,24079,2,US>NY>501,812390,3351,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.261905,7701
17,335,92366,0,46f17380f19cee,1779285,24079,2,US>NY>501,908706,11871,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.000000,0.000000,7701
18,335,159085,1,46f17380f19cee,1779285,24079,2,US>NY>501,1393438,11164,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.454545,0.365079,7701
19,643,78011,0,a89a0a7c526754,1362397,46495,1,US>FL>548,1083898,10312,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.146580,0.079948,5423

# OLD MATERIAL HERE ABOUT GEOLOCATION - HAVENT TOUCHED

In [20]:
data["geo_location"] = data["geo_location"].apply(str)

In [21]:
data["country"] = [x[:2] for x in data["geo_location"]]
data["state"] = [x[3:5] for x in data["geo_location"]]
data["loc_num"]= [x[6:] for x in data["geo_location"]]
data["loc_num"] = data["loc_num"].map(str)
data.head()

,ad_id,clicked,uuid,document_id,timestamp,platform,geo_location,campaign_id,advertiser_id,country,state,loc_num
display_id,,,,,,,,,,,,
8112,151682,1,715ddc85c78e39,1792396,559250,2,US>MI>563,19284,3283,US,MI,563
10333,157598,0,ec3841c3250fb6,1405372,716674,2,US>MO>616,18022,2312,US,MO,616
11278,103712,1,324475e5f191c8,1179111,784022,2,US>GA>524,5081,1759,US,GA,524
13320,139944,1,27221a85141108,735143,926961,2,US>CA>807,17929,1782,US,CA,807
13905,173393,0,9ea0907cee579e,1794259,971672,2,US>IL>602,21143,2876,US,IL,602

# Make training and test sets

In [303]:
labels = data['clicked']
labels = labels.values.reshape(-1,1) # check this please! my python is 3.5 and told me to use values.reshape
del data['clicked']
data.head()

,display_id,ad_id,uuid,document_id_x,timestamp,platform,geo_location,document_id_y,campaign_id,advertiser_id,...,cat_2000,cat_2002,cat_2003,cat_2004,cat_2005,cat_2006,cat_2100,campaign_perc,advertiser_perc,docx_view_freq
0,37,70153,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,933716,7516,1438,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.045455,0.046069,7701
1,37,149047,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1169985,16636,380,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.137931,0.137931,7701
2,37,169564,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1394819,20109,640,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,7701
3,37,234713,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1586431,245,232,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.265217,0.271255,7701
4,37,235443,d4f62cdcb39ad8,1779285,2687,2,US>WA>819,1377696,11654,555,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.043478,0.082631,7701

In [334]:
train_data = data[:round(.7*len(data))]
test_data = data[:round(.7*len(data))]

train_labels = labels[round(.7*len(data)):]
test_labels = labels[round(.7*len(data)):]

In [318]:
for x in [train_data.columns[x] for x in range(0,11)]:
    del train_data[x]
    del test_data[x]

In [1]:
train_data.astype(float, inplace=True)
test_data.astype(float, inplace=True)

train_data.fillna(0, inplace=True)
test_data.fillna(0, inplace=True)

lr = LogisticRegression()
lr.fit(train_data, train_labels)
lr.predict(test_data)

# Logistic Regression is not the best model because we have to binarize our features
# to make them numeric. This leads to >5000 columns which is unruly and not optimal.

NameError: name 'train_data' is not defined